{#
    File: _site.html
    Description: This file is used to create any site wide blocks (navigation, headers, footers, etc.)
                 All of the basic HTML structure is inherited from _base.html.
#}
{% extends "_base.html" %}

{% block title %}
{% endblock title %}

{% block description %}
{% endblock description %}

{%- block css %}
{#
    CSS Files (with link)
#}
{% set css_file = '' %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootflat.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

{% endblock -%}

{# Using Web Fonts? (e.g. Google, TypeKit, etc.) #}
{%- block google_fonts %}
{#
    List Google Web fonts families in this block.
#}
'Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic'
{% endblock google_fonts -%}

{# Not Using Web Fonts?
    Move this block outside this comment:
    {%- block webfonts %}{% endblock webfonts -%}
#}

{% block body_class %}{% endblock %}

{%- block site_header -%}
<!--nav-->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="index.html">3 Good Things</a>-->
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            {% if current_user.is_active() %}
          <li><a class="nav-link float-left" href="#">Welcome!</a></li>
            {% else %}
          <li><a class="nav-link" href="{{url_for('security.login')}}">Sign In</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="#">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock site_header -%}

{# BLOCK MAIN START #}
    {%- block main_header -%}
    {% endblock main_header -%}

    {%- block content %}
    {% endblock content -%}

    {%- block main_footer -%}
    {% endblock main_footer -%}
{# BLOCK MAIN END #}

{%- block site_footer -%}
{% endblock site_footer -%}

{%- block page_js -%}
{%- endblock page_js -%}
