{% extends "_site.html" %}
{% import "macros/_forms.html" as wtf -%}

{% set title = 'Three Good Things' %}

{% block title %}{{title}}{% endblock %}

{%- block content -%}
    {% if form %}
        <form class="form item-form" method="post" action="{{request.url}}">
            <fieldset>
                {{ form.hidden_tag() }}
                {% for form_item in form.items %}
                <div class="item-form-group">
                    <div class="item-number">{{loop.index}}</div>
                    {{ form_item.hidden_tag() }}
                    {{ wtf.form_field(form_item.content, class='content', placeholder = 'Today was good because...') }}
                    {{ wtf.form_field(form_item.details, class='details', placeholder = 'Why did this happen?') }}
                </div>
                {%- endfor -%}
                <button type="submit" class="btn btn-default">Submit</button>
            </fieldset>
        </form>
    {%- endif -%}

    <!--
    {% for item in g.items %}
        {% include "partials/_item.html" %}
    {%- endfor -%}
    -->
{%- endblock -%}

{%- block page_js -%}
    <script>
        var {{ config.PROJECT }} = {}; //namespace everything under here.
        {%- block items_js %}
        {{ config.PROJECT }}.itemsData = [
            {%- for item in g.items -%}
            {{item.to_dict()|safe}},
            {%- endfor -%}
        ];
        {%- endblock items_js %}

        {{ config.PROJECT }}.user = {
                            'id'     : '{{current_user.id}}',
                            'roles'  : [{% for role in current_user.roles %}'{{role.name}}'{% endfor %}],
                            'email'  : '{{current_user.email}}'
                          };
    </script>
{%- endblock page_js -%}
